//  Variables & Mixins

//  colours

$black: #000;
$white: #fff;
$primary: #000;
$secondary: #000;
$tertiary: #000;

//  typography

$body-font: Arial, "Helvetica Neue", Helvetica, sans-serif;
$header-font: Arial, "Helvetica Neue", Helvetica, sans-serif;
$sub-header-font: Arial, "Helvetica Neue", Helvetica, sans-serif;
$suporting-font: Arial, "Helvetica Neue", Helvetica, sans-serif;

@mixin fontstyle($family, $size, $weight, $height, $color, $align){
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
    line-height: $size * $height;
    color: $color;
    text-align: $align;
}

//  body copy

html, body{ @include fontstyle($body-font, 16px, normal, 1.375, $black, left); }

//  headings

h1{ @include fontstyle($header-font, 48px, bold, 1.05, $black, left); }
h2{ @include fontstyle($header-font ,36px, bold, 1.25, $black, left); }
h3{ @include fontstyle($header-font, 28px, bold, 1.25, $black, left); }
h4{ @include fontstyle($header-font, 18px, bold, 1.22, $black, left); }

//  breakpoints

$phone: 320px;
$tablet: 480px;
$desktop: 768px;
$medium-desktop: 992px;
$large-desktop: 1200px;

@media (min-width: $phone){}
@media (min-width: $tablet){}
@media (min-width: $desktop){}
@media (min-width: $medium-desktop){}
@media (min-width: $large-desktop){}
